h1,
h2,
h3,
h4,
h5,
.button {
  font-family: "Bahnschrift", sans-serif;
  font-weight: 900;
  font-style: condensed;
}

h2 {
  text-transform: uppercase;
}

h3 {
  font-weight: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-family: "Bahnschrift", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #7ac143;
  font-weight: 700;
  transition: all 250ms ease-out;
  text-decoration: none;
}

a:hover {
  color: #1C7C54;
}

input,
textarea {
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  transition: all 250ms ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px
}

textarea {
  height: 160px;
  padding-top: 5px;
}

input:focus,
textarea:focus {
  border: 1px solid #bbb;
  color: #000;
}

input:hover,
textarea:hover {
  border: 1px solid #bbb;
}

input:hover {
  color: #000;
  background: #e6e6e6;
}

input[type=submit] {
  padding: 0;
  color: white;
  border: 0px solid #7ac143;
  background: #7ac143;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 6px 8px -5px rgba(0, 0, 0, .2);
}

em {
  font-style: normal;
  font-weight: 800;
}

section {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  position: relative;
  width: 100%;
  padding-bottom: 0.444rem;
  align-items: center;
}

.large {
  min-height: 25vh;
}

.hero-container {
  width: 50%;
  padding: 0 3rem;
  text-align: left;
}

.hero-container h1 {
  margin: 2em 0 1em 0;
}

.centred-container {
  width: 90%;
  overflow: auto;
  margin: auto;
  text-align: center;
}

.text-content {
  text-align: left;
}

.has-bg-img {
  background-size: cover;
  background-position: center center;
  text-align: left;
}

p,
label,
.button {
  font-size: 1.111rem;
  line-height: 1.667;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  font-size: 2.222rem;
  line-height: 2.667rem;
  margin: 0 0 2rem 0;
}

h3 {
  font-size: 1.556rem;
  line-height: 2.222rem;
  margin: 1rem 0 0 0;
}

h4 {
  font-size: 1.333rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.111rem;
  line-height: 1.778rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.66667rem;
}

form * {
  min-width: 100%;
}

.plain-bg {
  background-color: #ffffff;
  padding-top: 6.667rem;
  padding-bottom: 6.667rem;
}

.alternate-bg {
  background-color: #302e2c;
  color: #ffffff;
  padding-top: 6.667rem;
  padding-bottom: 6.667rem;
}

.alternate-bg-2 {
  background-color: #E1E6E1;
  padding-top: 6.667rem;
  padding-bottom: 6.667rem;
}

#footer {
  padding-top: 2rem;
  background-color: #7ac143;
}

.footer-socials {
  text-align: center
}

.button {
  color: #000;
  padding: 0 1em;
  border: 5px solid #7ac143;
  background: #7ac143;
  border-radius: 10px;
  margin: 2em 2em 6em 0;
  text-align: center;
  float: left;
  box-shadow: 0px 6px 8px -5px rgba(0, 0, 0, .2);
}

.button-secondary {
  border: 5px solid #ffffff;
  background: #ffffff;
}

.button a {
  color: #ffffff;
}

.button-secondary a {
  color: #000000
}

.button a:hover {
  color: #1C7C54;
}

.button h4 {
  margin: 5px;
}

.flex-grid {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}

.flex-container {
  align-items: center;
  flex: 1;
  padding-right: 1em;
  padding-left: 1em
}

a>img:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  /* IE 9 */
  -moz-transform: scale(1.1);
  /* Firefox */
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -o-transform: scale(1.1);
  /* Opera */
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

/* Medium to Large */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
    line-height: 4.2rem
  }

  h2 {
    font-size: 2.8rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 2.2rem;
    line-height: 2.7rem;
  }

  h4 {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }

  h5 {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .footer-socials a img {
    padding: 3em
  }
}

/* SM */
@media screen and (min-width:544px) and (max-width:767.9px) {
  h1 {
    font-size: 4;
    line-height: 4.2rem;
  }

  h2 {
    font-size: 1.87rem;
    line-height: 2.24rem;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  h5 {
    font-size: 1.11rem;
    line-height: 1.78rem;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.67rem;
  }

  body,
  html {
    line-height: 1.556;
  }

  .footer-socials a img {
    padding: 2.5em
  }
}

/* XS */
@media screen and (max-width:543.9px) {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h2 {
    font-size: 1.78rem;
    line-height: 2.13rem;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.67rem;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.67rem;
  }

  h5 {
    font-size: 1rem;
    line-height: 1.67rem;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.67rem;
  }

  body,
  html {
    line-height: 1.556;
  }

  .footer-socials a img {
    padding: 2em
  }

  form {
    display: block;
  }
}

nav {
  background-color: #ffffff;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: auto;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .2);
}

nav h5 {
  margin: 0px;
}

nav a {
  color: #000000;
}

ul.nav-header {
  list-style-type: none;
}

ul.nav-header li {
  float: left;
  padding: 0px 16px 3px 0px;
}

ul.nav-header li img {
  display: block;
  margin: 0;
}

.nav-link {
  padding: 0 .5em;
  border: 5px solid #ffffff;
}


.nav-link-cta {
  padding: 0 .5em;
  border-width: 5px 5px 3px 5px;
  border-style: solid;
  border-color: #7ac143;
  background: #7ac143;
  border-radius: 10px;
  box-shadow: 0px 6px 8px -5px rgba(0, 0, 0, .2);
}

.nav-link-cta a {
  color: #ffffff;
}

.nav-link-cta a:hover {
  color: #1C7C54;
}
